<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Listado de Cheques</h2>
        <ol class="breadcrumb">
            <li>
                Cheques
        </li>
        <li class="active">
            <strong>Listado</strong>
        </li>
    </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Cheques Emitidos</h5>
            </div>
            <div class="ibox-content">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>Id</th>
                      <th>Cheque</th>
                      <th>Chequera</th>
                      <th>Valor</th>
                      <th>Proveedor</th>
                      <th>Fecha</th>
                      <th>OO.CC</th>
                      <th>Factura</th>
                      <th>Obra</th>
                      <th>Detalle</th>
                      <th>Plazo</th>
                      <th>Agregado</th>
                      <th colspan="2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @documentos.each do |documento| %>
                    <tr>
                      <td><%= documento.id %></td>
                      <td><%= documento.cheque %></td>
                      <td><%= documento.chequera %></td>
                      <td><%= documento.valor %></td>
                      <td><%= documento.proveedor %></td>
                      <td><%= documento.fecha.strftime("%d-%m-%Y") %></td>
                      <td><%= documento.oocc %></td>
                      <td><%= documento.factura %></td>
                      <td><%= documento.centrocosto %></td>
                      <%  
                          if documento.cobrado == 1
                            detalle = "Cobrado"
                          elsif documento.nulo == true
                            detalle = "Nulo"
                          elsif documento.nopago == true
                            detalle = "ONP"
                          else 
                            detalle = "Vigente"
                          end
                      %>
                      <td><%= detalle %></td>                 
                      <td><%= documento.plazo %></td>
                      <th><%= documento.updated_at.strftime("%d-%m-%Y") %></th>
                      <td><a href = "/documentos/<%=documento.id%>/edit"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

   </div>
</div>